In [1]:
import agate

In [12]:
refugees = agate.Table.from_csv('Data/refugees-csv-2.csv')

In [13]:
print(refugees)

| column                 | data_type |
| ---------------------- | --------- |
| ResettledState         | Text      |
| Year                   | Text      |
| TotalResettledState    | Number    |
| RefugeeOrigin          | Text      |
| RefugeesResettledState | Number    |
| ResettledCity          | Text      |
| RefugeesResettledCity  | Number    |
| RefugeesResettledUS    | Number    |

In [14]:
refugees_city = refugees.group_by('ResettledCity')

In [15]:
print(refugees_city)

| table          | rows |
| -------------- | ---- |
| Mobile, AL     | 126  |
| Birmingham     | 9    |
| Pelham         | 2    |
| Anchorage, AK  | 79   |
| Phoenix, AK    | 1    |
| Phoenix, AR    | 351  |
| Tucson, AZ     | 271  |
| Chandler       | 27   |
| Glendale       | 216  |
| Buckeye        | 3    |
| Tempe, AZ      | 33   |
| Wickenburg     | 4    |
| Scottsdale, AZ | 46   |
| Lowell         | 77   |
| Fort Smith     | 2    |
| Claremont      | 10   |
| Elk Grove      | 42   |
| Fontana        | 15   |
| Fullerton      | 36   |
| Garden Grove   | 53   |

In [16]:
total_refugees= refugees.aggregate(agate.Sum('RefugeesResettledCity'))

In [17]:
print(total_refugees)

894149

I honestly do not understand what does it mean with "sum by unique city name" >_<