In [1]:
library (dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
7 + 4 # => 11 7 - 4 # => 3
7 / 2 # => 3.5 7 * 2 # => 14

[1] 11

[1] 3.5

In [3]:
7+4 # =>

[1] 11

In [4]:
7/2 # =>

[1] 3.5

In [5]:
7-4 # =>

[1] 3

In [6]:
7*2 # =>

[1] 14

In [7]:
log2(4) # =>

[1] 2

In [8]:
abs(-4) # =>

[1] 4

In [9]:
sqrt(4) # =>

[1] 2

Logarithms and exponentials: log2(x), log10(x), exp(x)
– Other mathematical functions: abs(x): absolute value; sqrt(x): square
root.

In [11]:
my_name <- "Utami"

In [12]:
my_age <- 27

Numeric variable does not need a question mark, while name or character variable, needs a question mark.

In [13]:
friend_ages <- c(27, 25, 29, 26)

In [14]:
mean(friend_ages) # =>

[1] 26.75

In [15]:
median(friend_ages) # =>

[1] 26.5

In [16]:
min(friend_ages) # =>

[1] 25

In [17]:
max (friend_ages) # =>

[1] 29

In [18]:
friends_data <- data.frame(
name = c("Nicolas", "Thierry", "Bernard", "Jerome"), age = c(27, 25, 29, 26) ,
height = c(180, 170, 185, 169),
married = c(TRUE, FALSE, TRUE, TRUE)
)
friends_data

  name    age height married
1 Nicolas 27  180     TRUE
2 Thierry 25  170    FALSE
3 Bernard 29  185     TRUE
4 Jerome  26  169     TRUE

In [22]:
friend_groups <- factor(c("grp1", "grp2", "grp1", "grp2")) 
levels(friend_groups) # => "grp1", "grp2"

[1] "grp1" "grp2"

In [23]:
friend_ages <- c(27, 25, 29, 26) 
tapply (friend_ages, friend_groups, mean)

grp1 grp2
28.0 25.5

In [29]:
age1 <- c(5, 6, 7, 8, 9) 
age2 <- c(2, 4, 5, 9, 8)

In [30]:
age3 <- c(7, 3, 4, 8, 7)
my_data <- cbind(age1, age2, age3)
rownames(my_data) <- c("uni1", "uni2", "uni3", "uni4", "uni5") 
my_data

     age1 age2 age3
uni1 5    2    7
uni2 6    4    3
uni3 7    5    4
uni4 8    9    8
uni5 9    8    7

In [31]:
?mean

In [32]:
?mutate