In [1]:
import agate

In [2]:
mountainlions = agate.Table.from_csv('Data/mountainlions.csv')

In [3]:
print(mountainlions)

| column      | data_type |
| ----------- | --------- |
| ID          | Number    |
| Cofirm Type | Text      |
| COUNTY      | Text      |
| Date        | Date      |

In [4]:
by_date = mountainlions.group_by('Date')

In [5]:
print (len(by_date))

352

if you want to have specific column put 'values'

In [6]:
by_county = mountainlions.group_by('COUNTY')

In [7]:
print (len(by_county))

42

In [9]:
county_totals = by_county.aggregate ([
    ('count', agate.Count())
])

In [10]:
print(county_totals)

| column | data_type |
| ------ | --------- |
| COUNTY | Text      |
| count  | Number    |

max_rows = 10 means that agate will only give you 10 rows, sorting out your rows into 10 ten

In [11]:
county_totals.print_table()

| COUNTY       | count |
| ------------ | ----- |
| Dawes        |   111 |
| Sioux        |    52 |
| Scotts Bluff |    26 |
| Box Butte    |     4 |
| Howard       |     3 |
| Brown        |    15 |
| Douglas      |     2 |
| Cherry       |    30 |
| Thomas       |     5 |
| Keya Paha    |    20 |
| Dakota       |     3 |
| Sarpy        |     1 |
| Custer       |     8 |
| Sheridan     |    35 |
| Banner       |     6 |
| Knox         |     8 |
| Nance        |     1 |
| Platte       |     1 |
| Dawson       |     5 |
| Rock         |    11 |
| ...          |   ... |

In [5]:
import agate

In [6]:
mountainlions = agate.Table.from_csv('Data/mountainlions.csv')

In [7]:
print (mountainlions)

| column      | data_type |
| ----------- | --------- |
| ID          | Number    |
| Cofirm Type | Text      |
| COUNTY      | Text      |
| Date        | Date      |

In [8]:
by_county = mountainlions.group_by('COUNTY')

In [9]:
print(by_county)

| table        | rows |
| ------------ | ---- |
| Dawes        | 111  |
| Sioux        | 52   |
| Scotts Bluff | 26   |
| Box Butte    | 4    |
| Howard       | 3    |
| Brown        | 15   |
| Douglas      | 2    |
| Cherry       | 30   |
| Thomas       | 5    |
| Keya Paha    | 20   |
| Dakota       | 3    |
| Sarpy        | 1    |
| Custer       | 8    |
| Sheridan     | 35   |
| Banner       | 6    |
| Knox         | 8    |
| Nance        | 1    |
| Platte       | 1    |
| Dawson       | 5    |
| Rock         | 11   |

In [10]:
print (len(by_county))

42

In [11]:
county_totals = by_county.aggregate ([
    ('count', agate.Count())
])

In [12]:
print(county_totals)

| column | data_type |
| ------ | --------- |
| COUNTY | Text      |
| count  | Number    |

In [13]:
sorted_counties = county_totals.order_by('count', reverse =True)

In [14]:
sorted_counties.print_table()

| COUNTY       | count |
| ------------ | ----- |
| Dawes        |   111 |
| Sioux        |    52 |
| Sheridan     |    35 |
| Cherry       |    30 |
| Scotts Bluff |    26 |
| Keya Paha    |    20 |
| Brown        |    15 |
| Rock         |    11 |
| Lincoln      |    10 |
| Custer       |     8 |
| Knox         |     8 |
| Banner       |     6 |
| Thomas       |     5 |
| Dawson       |     5 |
| Nemaha       |     5 |
| Box Butte    |     4 |
| Howard       |     3 |
| Dakota       |     3 |
| Blaine       |     3 |
| Buffalo      |     3 |
| ...          |   ... |

In [15]:
sorted_counties.print_table(max_rows=25)

| COUNTY       | count |
| ------------ | ----- |
| Dawes        |   111 |
| Sioux        |    52 |
| Sheridan     |    35 |
| Cherry       |    30 |
| Scotts Bluff |    26 |
| Keya Paha    |    20 |
| Brown        |    15 |
| Rock         |    11 |
| Lincoln      |    10 |
| Custer       |     8 |
| Knox         |     8 |
| Banner       |     6 |
| Thomas       |     5 |
| Dawson       |     5 |
| Nemaha       |     5 |
| Box Butte    |     4 |
| Howard       |     3 |
| Dakota       |     3 |
| Blaine       |     3 |
| Buffalo      |     3 |
| Dixon        |     3 |
| Douglas      |     2 |
| Saunders     |     2 |
| sheridan     |     2 |
| Holt         |     2 |
| ...          |   ... |