In [ ]:
import agate

this code for importing the agate. first step.

In [2]:
salaries = agate.Table.from_csv('Data/nusalaries1718.csv')

Next step: Importing data. We use the code ('Data/nusalaries1718.csv') because the data is saved in the data folder, home directory. If you put in the download use code ('/Users/utamidiahkusumawati/Downloads/nusalaries1718.csv')

In [3]:
print(salaries)

| column                        | data_type |
| ----------------------------- | --------- |
| Employee                      | Text      |
| Position                      | Text      |
| Campus                        | Text      |
| Department                    | Text      |
| Budgeted Annual Salary        | Number    |
| Salary from State Aided Funds | Number    |
| Salary from Other Funds       | Number    |

So, let's print the data by using code print(variable name) --> print(salaries)

In [4]:
salaries.print_table()

| Employee             | Position             | Campus | Department           | Budgeted Annual S... | Salary from State... | ... |
| -------------------- | -------------------- | ------ | -------------------- | -------------------- | -------------------- | --- |
| Abbey, Bryce M       | Assistant Professor  | UNK    | Kinesiology & Spo... |               52,625 |               52,625 | ... |
| Abbott, Amanda A     | Admissions Associate | UNO    | Graduate Studies     |               34,164 |               34,164 | ... |
| Abbott, Frances M    | Staff Secy III       | UNL    | FM&P Facilities P... |               36,676 |               36,676 | ... |
| Abboud, Cheryl A     | Administrator I      | UNMC   | Surgery-Urologic ... |               72,774 |                      | ... |
| Abdalla, Maher Y     | Asst Professor       | UNMC   | Pathology/Microbi... |               73,488 |               58,866 | ... |
| Abdel-Monem, Tarik L | Research Specialist  | UNL    | Public Policy Center |               57,496 |                      | ... |
| Abdessalam, Shahab F | Assoc Professor      | UNMC   | Surgery-Pediatric... |               42,580 |                      | ... |
| Abdouch, Ivan G      | Assoc Professor      | UNMC   | Family Medicine      |              151,954 |               17,450 | ... |
| Abdouch, Ivan G      | Assoc Residency P... | UNMC   | Family Medicine      |                2,750 |                2,750 | ... |
| Abegg, Julia M       | Ag Rsch Technician I | UNL    | USMARC               |               26,834 |                      | ... |
| Abel, Marco          | Chairperson          | UNL    | English              |               62,878 |               62,878 | ... |
| Abel, Marco          | Professor            | UNL    | English              |               38,586 |               38,586 | ... |
| Abel, Rick A         | Control Systems T... | UNL    | FM&P Building Sys... |               55,240 |               55,240 | ... |
| Abelbeck, Michelle M | Office Assistant     | UNO    | Operations           |               29,307 |               28,249 | ... |
| Abell, Jacqueline P  | Director of Educa... | UNK    | Museum of Nebrask... |               42,511 |                      | ... |
| Abels, Margaret M    | Director Health P... | UNK    | Health Science Pr... |               60,107 |               60,107 | ... |
| Abendroth, Curtis L  | Asst Dir Faciliti... | UNL    | Housing Facilitie... |               77,695 |                      | ... |
| Aboeata, Ahmed S     | Asst Professor       | UNMC   | Int Med Cardiology   |               45,000 |               34,000 | ... |
| Abraham, Kym L       | Research Nurse Co... | UNMC   | Pediatrics Admini... |               68,628 |                      | ... |
| Abram, Frederick C   | Lead Teacher         | UNO    | Child Care Center    |               24,960 |                      | ... |
| ...                  | ...                  | ...    | ...                  |                  ... |                  ... | ... |

If you use the code: print(salaries) or salaries.print_structure(), you will not get the whole pictures of the tables, including the columns and rows, numbers and texts. However, if you want to know whole pictures of table, with numbers or long texts, type code: variable name.print_table() --> salaries.print_table()

In [5]:
salaries.print_structure()

| column                        | data_type |
| ----------------------------- | --------- |
| Employee                      | Text      |
| Position                      | Text      |
| Campus                        | Text      |
| Department                    | Text      |
| Budgeted Annual Salary        | Number    |
| Salary from State Aided Funds | Number    |
| Salary from Other Funds       | Number    |

test case for knowing what kind of columns, same with previous step.

In [6]:
unl = salaries.where(lambda row: row['Campus'] is 'UNL')

Since the table provides you with salaries from all University of Nebraska campus, you need to limit it only for UNL employee. So.... let's call the variable by using code: unl = salaries.where(lambda row: row('Campus') is 'UNL') Ok, campus and UNL are the name of values we choose, and you use table.where() to pick up certain rows.

In [7]:
print (len(unl.rows))

0

this is the code for filtering UNL employee only salaries. len means you will calculate number of rows of the UNL's employee

In [8]:
unl = salaries.where(lambda row: row['Campus'] == 'UNL')

use double equal to compare. unl = data used from salaries (file) and from Column Campus and Rows contains UNL

In [9]:
print (len(unl.rows))

6315

number of rows of the UNL's employees

In [10]:
average_salaries = unl.aggregate(agate.Mean('Budgeted Annual Salary'))

finding average (mean) by using this template of code: name = variable.aggregate(agate.Mean('value')). ----> average_salaries = unl.aggregate(agate.Mean('Budgeted Annual Salary')). since we use only the data for UNL, then we use unl as variable

In [11]:
print(average_salaries)

61579.16484560570071258907363

call the result out!

In [12]:
median_salaries = unl.aggregate(agate.Median('Budgeted Annual Salary'))

change the code with median. the rest is the same, hope this is correct one to count.

In [13]:
print(median_salaries)

49449

call the result out!

In [14]:
by_position = unl.group_by('Position','Budgeted Annual Salary')

Code for grouping and sorting the UNL's table only for job title (position) and salaries, leaving out the department. I created by_position as my variable.

In [15]:
print(by_position)

| table                                | rows |
| ------------------------------------ | ---- |
| Staff Secy III                       | 22   |
| Research Specialist                  | 6    |
| Ag Rsch Technician I                 | 50   |
| Chairperson                          | 34   |
| Professor                            | 538  |
| Control Systems Tech/Alarm Sys       | 1    |
| Asst Dir Facilities Mgt/Maintenance  | 1    |
| Assistant Professor                  | 201  |
| Assoc Exten Educator                 | 46   |
| Residence Hall Custodian II          | 66   |
| Supply Control Asst                  | 1    |
| Asst AD - Ticketing & Engagement     | 1    |
| Rsch Technologist II                 | 37   |
| Assoc Professor                      | 96   |
| Director Forensic Science            | 1    |
| Financial Specialist I               | 12   |
| Student Services Associate (Lincoln) | 1    |
| Custodian II                         | 190  |
| Building/Grounds Attendant           | 2    |
| Assoc Prof Practice                  | 8    |

print out! the position has been categorized by its job title

In [17]:
print (len(by_position))

2245

print out numbers of rows of all the job titles at the UNL

In [18]:
position_totals = by_position.aggregate ([
    ('count', agate.Count())
])

aggregate the count!

In [19]:
print(position_totals)

| column                 | data_type |
| ---------------------- | --------- |
| Budgeted Annual Salary | Text      |
| count                  | Number    |

print out

In [20]:
sorted_positions = position_totals.order_by('count', reverse =True)

I wanted to make the job title in order from bigger numbers to smaller numbers

In [21]:
sorted_positions.print_table()

| Budgeted Annual S... | count |
| -------------------- | ----- |
| Professor            |   538 |
| Associate Professor  |   293 |
| Assistant Professor  |   201 |
| Custodian II         |   190 |
| Asst Professor       |   103 |
| Assoc Professor      |    96 |
| Assistant Profess... |    76 |
| Director             |    67 |
| Residence Hall Cu... |    66 |
| Dining Service As... |    64 |
| Post-Doc Rsch Assoc  |    62 |
| Ag Rsch Technicia... |    58 |
| Asst Exten Educator  |    58 |
| Ag Rsch Technician I |    50 |
| Assoc Exten Educator |    46 |
| Exten Educator       |    43 |
| Office Associate     |    43 |
| Office Assoc         |    41 |
| Rsch Technologist I  |    39 |
| Rsch Technologist II |    37 |
| ...                  |   ... |

we can see in order that job title professor has the most rows (employees)

In [22]:
by_position = unl.group_by('Position')
job_title_aggregate = by_position.aggregate([
    ('Position_count', agate.Count()),
    ('Position_mean', agate.Mean('Budgeted Annual Salary')),
    ('Position_median', agate.Median('Budgeted Annual Salary'))
])

aggregate count, mean and median in a single table thing. job_title_aggregate is my variable

In [23]:
print(job_title_aggregate)

| column          | data_type |
| --------------- | --------- |
| Position        | Text      |
| Position_count  | Number    |
| Position_mean   | Number    |
| Position_median | Number    |

print out structure

In [24]:
job_title_aggregate.print_table()

| Position             | Position_count | Position_mean | Position_median |
| -------------------- | -------------- | ------------- | --------------- |
| Staff Secy III       |             22 |   32,450.636… |        34,706.0 |
| Research Specialist  |              6 |   51,812.000… |        54,071.0 |
| Ag Rsch Technician I |             50 |   29,954.460… |        29,476.0 |
| Chairperson          |             34 |   84,892.853… |        82,366.0 |
| Professor            |            538 |  112,127.201… |       109,665.0 |
| Control Systems T... |              1 |   55,240.000… |        55,240.0 |
| Asst Dir Faciliti... |              1 |   77,695.000… |        77,695.0 |
| Assistant Professor  |            201 |   83,772.866… |        75,100.0 |
| Assoc Exten Educator |             46 |   59,781.804… |        59,962.0 |
| Residence Hall Cu... |             66 |   25,008.288… |        24,251.0 |
| Supply Control Asst  |              1 |   33,230.000… |        33,230.0 |
| Asst AD - Ticketi... |              1 |   77,921.000… |        77,921.0 |
| Rsch Technologist II |             37 |   44,024.730… |        42,078.0 |
| Assoc Professor      |             96 |   94,428.948… |        96,810.0 |
| Director Forensic... |              1 |   33,578.000… |        33,578.0 |
| Financial Special... |             12 |   46,443.500… |        46,290.0 |
| Student Services ... |              1 |   30,931.000… |        30,931.0 |
| Custodian II         |            190 |   26,083.916… |        25,898.0 |
| Building/Grounds ... |              2 |   27,678.000… |        27,678.0 |
| Assoc Prof Practice  |              8 |   77,429.125… |        84,234.5 |
| ...                  |            ... |           ... |             ... |

print out the table, not in order

In [25]:
sorted_jobtitle = job_title_aggregate.order_by('Position_count', reverse=True)

let's make it in order from big to small. so that we can know what job title that have the most employee?

In [26]:
sorted_jobtitle.print_table()

| Position             | Position_count | Position_mean | Position_median |
| -------------------- | -------------- | ------------- | --------------- |
| Professor            |            538 |  112,127.201… |       109,665.0 |
| Associate Professor  |            293 |   78,047.191… |        77,607.0 |
| Assistant Professor  |            201 |   83,772.866… |        75,100.0 |
| Custodian II         |            190 |   26,083.916… |        25,898.0 |
| Asst Professor       |            103 |   81,027.087… |        85,396.0 |
| Assoc Professor      |             96 |   94,428.948… |        96,810.0 |
| Assistant Profess... |             76 |   66,543.908… |        64,393.0 |
| Director             |             67 |  107,948.045… |       104,131.0 |
| Residence Hall Cu... |             66 |   25,008.288… |        24,251.0 |
| Dining Service As... |             64 |   23,386.969… |        23,920.0 |
| Post-Doc Rsch Assoc  |             62 |   43,713.048… |        43,605.5 |
| Ag Rsch Technicia... |             58 |   37,719.655… |        34,001.5 |
| Asst Exten Educator  |             58 |   53,738.879… |        50,883.0 |
| Ag Rsch Technician I |             50 |   29,954.460… |        29,476.0 |
| Assoc Exten Educator |             46 |   59,781.804… |        59,962.0 |
| Exten Educator       |             43 |   75,529.326… |        71,723.0 |
| Office Associate     |             43 |   30,409.326… |        30,688.0 |
| Office Assoc         |             41 |   35,485.000… |        35,881.0 |
| Rsch Technologist I  |             39 |   39,539.051… |        38,372.0 |
| Rsch Technologist II |             37 |   44,024.730… |        42,078.0 |
| ...                  |            ... |           ... |             ... |

In [27]:
sorted_jobtitle.print_table(max_rows=50)

| Position             | Position_count | Position_mean | Position_median |
| -------------------- | -------------- | ------------- | --------------- |
| Professor            |            538 |  112,127.201… |       109,665.0 |
| Associate Professor  |            293 |   78,047.191… |        77,607.0 |
| Assistant Professor  |            201 |   83,772.866… |        75,100.0 |
| Custodian II         |            190 |   26,083.916… |        25,898.0 |
| Asst Professor       |            103 |   81,027.087… |        85,396.0 |
| Assoc Professor      |             96 |   94,428.948… |        96,810.0 |
| Assistant Profess... |             76 |   66,543.908… |        64,393.0 |
| Director             |             67 |  107,948.045… |       104,131.0 |
| Residence Hall Cu... |             66 |   25,008.288… |        24,251.0 |
| Dining Service As... |             64 |   23,386.969… |        23,920.0 |
| Post-Doc Rsch Assoc  |             62 |   43,713.048… |        43,605.5 |
| Ag Rsch Technicia... |             58 |   37,719.655… |        34,001.5 |
| Asst Exten Educator  |             58 |   53,738.879… |        50,883.0 |
| Ag Rsch Technician I |             50 |   29,954.460… |        29,476.0 |
| Assoc Exten Educator |             46 |   59,781.804… |        59,962.0 |
| Exten Educator       |             43 |   75,529.326… |        71,723.0 |
| Office Associate     |             43 |   30,409.326… |        30,688.0 |
| Office Assoc         |             41 |   35,485.000… |        35,881.0 |
| Rsch Technologist I  |             39 |   39,539.051… |        38,372.0 |
| Rsch Technologist II |             37 |   44,024.730… |        42,078.0 |
| Chairperson          |             34 |   84,892.853… |        82,366.0 |
| Assistant Director   |             34 |   61,243.941… |        56,794.5 |
| Associate Profess... |             30 |   74,415.733… |        72,240.5 |
| Sr Dining Service... |             29 |   27,880.000… |        27,402.0 |
| Ag Rsch Technicia... |             29 |   42,825.414… |        42,839.0 |
| Dining Service Te... |             28 |   31,716.536… |        29,383.5 |
| Rsch Asst Professor  |             27 |   64,695.185… |        62,626.0 |
| Business Manager     |             24 |   63,596.542… |        61,674.5 |
| Lecturer             |             24 |   48,545.250… |        46,891.0 |
| Extension Educator   |             24 |   90,649.917… |        94,209.5 |
| Associate Director   |             23 |   74,635.652… |        64,836.0 |
| Academic Advisor     |             23 |   40,765.261… |        39,624.0 |
| Administrative Te... |             23 |   35,149.043… |        33,811.0 |
| Staff Secy III       |             22 |   32,450.636… |        34,706.0 |
| Cler Asst III        |             22 |   34,208.182… |        35,462.5 |
| Administrative Co... |             22 |   43,403.091… |        43,963.5 |
| Police Officer       |             22 |   56,032.455… |        56,312.5 |
| Custodial Specialist |             21 |   29,312.238… |        27,711.0 |
| Teacher              |             20 |   29,730.600… |        29,464.5 |
| Staff Assistant      |             19 |   34,865.053… |        37,160.0 |
| Admin Assoc          |             19 |   41,266.737… |        42,000.0 |
| Project Manager      |             18 |   60,096.778… |        61,796.0 |
| Research Associat... |             17 |   87,650.118… |        89,530.0 |
| Extension Asst 4-H   |             17 |   35,180.353… |        35,905.0 |
| Research Assistan... |             17 |   64,289.882… |        60,940.0 |
| Asst Prof Practice   |             17 |   70,785.000… |        67,634.0 |
| Accounting Techni... |             17 |   37,668.529… |        37,121.0 |
| Rsch Assoc Professor |             16 |   72,428.938… |        80,325.0 |
| Accounting Assoc     |             16 |   36,658.062… |        35,953.0 |
| Office Asst          |             16 |   28,208.812… |        30,031.5 |
| ...                  |            ... |           ... |             ... |

limit up to 50 rows of job title

finish.. /////('_')////