In [4]:
import agate

In [5]:
import warnings

In [6]:
taxes2015 = agate.Table.from_csv('Data/taxes2015.csv')

In [7]:
print(taxes2015)

| column             | data_type |
| ------------------ | --------- |
| Year               | Number    |
| County             | Text      |
| City               | Text      |
| Net Taxable Sales  | Number    |
| Nebraska Sales Tax | Number    |

In [8]:
print(len(taxes2015.rows))

458

In [9]:
taxes2016 = agate.Table.from_csv('Data/taxes2016.csv')

In [10]:
print(taxes2016)
print(len(taxes2016.rows))

| column             | data_type |
| ------------------ | --------- |
| Year               | Number    |
| County             | Text      |
| City               | Text      |
| Net Taxable Sales  | Number    |
| Nebraska Sales Tax | Number    |

456

In [11]:
taxes = taxes2016.join(taxes2015, 'City', 'City', inner=True)

In [12]:
print(taxes)
print(len(taxes.rows))
taxes.print_table()

| column              | data_type |
| ------------------- | --------- |
| Year                | Number    |
| County              | Text      |
| City                | Text      |
| Net Taxable Sales   | Number    |
| Nebraska Sales Tax  | Number    |
| Year2               | Number    |
| County2             | Text      |
| Net Taxable Sales2  | Number    |
| Nebraska Sales Tax2 | Number    |

452
|  Year | County   | City         | Net Taxable Sales | Nebraska Sales Tax | Year2 | ... |
| ----- | -------- | ------------ | ----------------- | ------------------ | ----- | --- |
| 2,016 | Adams    | Ayr          |            35,187 |           1,935.32 | 2,015 | ... |
| 2,016 | Adams    | Hastings     |       370,623,979 |      20,408,258.47 | 2,015 | ... |
| 2,016 | Adams    | Holstein     |         1,417,719 |          77,974.75 | 2,015 | ... |
| 2,016 | Adams    | Juniata      |         3,974,707 |         218,609.24 | 2,015 | ... |
| 2,016 | Adams    | Kenesaw      |         3,387,844 |         186,331.83 | 2,015 | ... |
| 2,016 | Adams    | Roseland     |           931,316 |          51,222.60 | 2,015 | ... |
| 2,016 | Antelope | Brunswick    |           483,094 |          22,324.27 | 2,015 | ... |
| 2,016 | Antelope | Clearwater   |         2,983,432 |         164,089.49 | 2,015 | ... |
| 2,016 | Antelope | Elgin        |         5,889,706 |         324,858.36 | 2,015 | ... |
| 2,016 | Antelope | Neligh       |        21,154,320 |       1,163,943.72 | 2,015 | ... |
| 2,016 | Antelope | Oakdale      |           263,147 |          14,473.14 | 2,015 | ... |
| 2,016 | Antelope | Orchard      |         3,632,636 |         199,795.60 | 2,015 | ... |
| 2,016 | Antelope | Royal        |           755,433 |          41,548.98 | 2,015 | ... |
| 2,016 | Arthur   | Arthur       |         1,408,051 |          77,443.09 | 2,015 | ... |
| 2,016 | Banner   | Harrisburg   |           115,517 |           6,353.49 | 2,015 | ... |
| 2,016 | Blaine   | Brewster     |            97,448 |           5,359.67 | 2,015 | ... |
| 2,016 | Blaine   | Dunning      |           320,739 |          17,640.73 | 2,015 | ... |
| 2,016 | Boone    | Albion       |        31,781,850 |       1,749,050.54 | 2,015 | ... |
| 2,016 | Boone    | Cedar Rapids |         2,267,255 |         124,699.37 | 2,015 | ... |
| 2,016 | Boone    | Petersburg   |         2,522,204 |         138,721.68 | 2,015 | ... |
|   ... | ...      | ...          |               ... |                ... |   ... | ... |

In [13]:
change = taxes.compute([
    ('taxable_change', agate.PercentChange('Net Taxable Sales2', 'Net Taxable Sales')),
    ('salestax_change', agate.PercentChange('Nebraska Sales Tax2', 'Nebraska Sales Tax'))        
])

In [14]:
sorted_change = change.order_by('taxable_change', reverse=True)

In [15]:
for_printing = sorted_change.select(['City', 'taxable_change'])

In [16]:
for_printing.print_table()

| City         | taxable_change |
| ------------ | -------------- |
| Harrisburg   |       652.701… |
| Sparks       |       157.235… |
| Dixon        |       144.814… |
| Taylor       |        75.241… |
| Venango      |        71.804… |
| Winnebago    |        54.881… |
| Farwell      |        53.931… |
| Kennard      |        52.851… |
| Rulo         |        44.586… |
| Linwood      |        43.760… |
| Ohiowa       |        43.436… |
| Allen        |        42.461… |
| Chester      |        40.340… |
| Malcolm      |        40.131… |
| Ithaca       |        36.240… |
| Blue Springs |        33.589… |
| Danbury      |        30.319… |
| Kilgore      |        29.870… |
| Avoca        |        28.638… |
| Waverly      |        27.905… |
| ...          |            ... |

**FREE REDUCED LUNCH PROGRAM AT SCHOOL IN NEBRASKA COUNTIES, 2015-2016**

SINCE CODISTSCH WILL BE READ AS NUMBERS SINCE IT HAS ZERO ON IT, WE HAVE TO OVERRIDE AGATE'S TYPE INFERENCE, FROM NUMBERS TO TEXT. SO THE CODE WILL BE SHOWN LIKE BELOW. AFTER WE OVERRIDE IT, THEN WE IMPORT DATA YEAR PER YEAR

In [17]:
specified_types = {
    'CODISTSCH': agate.Text(), 
}

Free_Reduced_Lunch2015 = agate.Table.from_csv('Data/frl15.csv', column_types=specified_types)

In [18]:
print(Free_Reduced_Lunch2015)
print(len(Free_Reduced_Lunch2015.rows))

| column        | data_type |
| ------------- | --------- |
| FY            | Text      |
| COUNTY        | Text      |
| CODISTSCH     | Text      |
| SCHOOLNAME    | Text      |
| SCHOOLTYPE    | Text      |
| GRADE         | Text      |
| ENROLLED      | Number    |
| FREEREDUCED   | Number    |
| PERCENT       | Number    |
| WARNING       | Text      |
| CEP_Indicator | Text      |

1229

In [19]:
Free_Reduced_Lunch2016 = agate.Table.from_csv('Data/frl16.csv', column_types=specified_types)

In [20]:
print(Free_Reduced_Lunch2016)
print(len(Free_Reduced_Lunch2016.rows))

| column        | data_type |
| ------------- | --------- |
| FY            | Text      |
| COUNTY        | Text      |
| CODISTSCH     | Text      |
| SCHOOLNAME    | Text      |
| SCHOOLTYPE    | Text      |
| GRADE         | Text      |
| ENROLLED      | Number    |
| FREEREDUCED   | Number    |
| PERCENT       | Number    |
| WARNING       | Text      |
| CEP_Indicator | Text      |

1230

In [21]:
Free_Reduced_Lunch = Free_Reduced_Lunch2016.join(Free_Reduced_Lunch2015, 'CODISTSCH', 'CODISTSCH', inner=True)

In [22]:
print(Free_Reduced_Lunch)
print(len(Free_Reduced_Lunch.rows))
Free_Reduced_Lunch.print_table()

| column         | data_type |
| -------------- | --------- |
| FY             | Text      |
| COUNTY         | Text      |
| CODISTSCH      | Text      |
| SCHOOLNAME     | Text      |
| SCHOOLTYPE     | Text      |
| GRADE          | Text      |
| ENROLLED       | Number    |
| FREEREDUCED    | Number    |
| PERCENT        | Number    |
| WARNING        | Text      |
| CEP_Indicator  | Text      |
| FY2            | Text      |
| COUNTY2        | Text      |
| SCHOOLNAME2    | Text      |
| SCHOOLTYPE2    | Text      |
| GRADE2         | Text      |
| ENROLLED2      | Number    |
| FREEREDUCED2   | Number    |
| PERCENT2       | Number    |
| WARNING2       | Text      |
| CEP_Indicator2 | Text      |

1146
| FY        | COUNTY  | CODISTSCH | SCHOOLNAME           | SCHOOLTYPE           | GRADE      | ... |
| --------- | ------- | --------- | -------------------- | -------------------- | ---------- | --- |
| 2016-2017 | BUFFALO | 100002001 | GIBBON HIGH SCHOOL   | SECONDARY        ... | 2017-07-12 | ... |
| 2016-2017 | BUFFALO | 100002002 | GIBBON ELEMENTARY... | ELEMENTARY       ... | PK-06      | ... |
| 2016-2017 | BUFFALO | 100007001 | KEARNEY HIGH SCHOOL  | HIGH SCHOOL      ... | 2017-09-12 | ... |
| 2016-2017 | BUFFALO | 100007002 | HORIZON MIDDLE SC... | MIDDLE SCHOOL    ... | 2017-06-08 | ... |
| 2016-2017 | BUFFALO | 100007003 | BRYANT ELEMENTARY... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007004 | EMERSON ELEMENTAR... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007005 | KENWOOD ELEMENTAR... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007006 | NORTHEAST ELEMENT... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007007 | PARK ELEMENTARY S... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007008 | CENTRAL ELEMENTAR... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007010 | WINDY HILLS ELEME... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007013 | GLENWOOD ELEMENTA... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007014 | MEADOWLARK ELEMEN... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007015 | SUNRISE MIDDLE SC... | MIDDLE SCHOOL    ... | 2017-06-08 | ... |
| 2016-2017 | BUFFALO | 100007027 | KEARNEY EDUCATION... | PREK ONLY        ... | PK-PK      | ... |
| 2016-2017 | BUFFALO | 100007028 | BUFFALO HILLS ELE... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100009001 | ELM CREEK HIGH SC... | SECONDARY        ... | 2017-07-12 | ... |
| 2016-2017 | BUFFALO | 100009002 | ELM CREEK ELEMENT... | ELEMENTARY       ... | PK-06      | ... |
| 2016-2017 | BUFFALO | 100019001 | SHELTON HIGH SCHOOL  | SECONDARY        ... | 2017-07-12 | ... |
| 2016-2017 | BUFFALO | 100019002 | SHELTON ELEMENTAR... | ELEMENTARY       ... | PK-06      | ... |
| ...       | ...     | ...       | ...                  | ...                  | ...        | ... |

**LETS COUNT THE CHANGE. THE PROBLEMS APPEAR BECAUSE IT'S DIRTY DATA. SOME OF THE DATA IN THE COLUMN REDUCED AND REDUCED 2 DO NOT HAVE ANY DATA OR INFORMATION AVAILABLE. SO, WE HAVE TO SORT IT OUT**

In [75]:
change = Free_Reduced_Lunch.where(
    lambda r: r['FREEREDUCED2'] is not None
)
change = Free_Reduced_Lunch.where(
    lambda r: r['FREEREDUCED'] is not None
)
change = Free_Reduced_Lunch.compute([
    ('FRD_change', agate.PercentChange('FREEREDUCED2', 'FREEREDUCED')),
])

/Users/utamidiahkusumawati/anaconda/lib/python3.6/site-packages/agate/computations/percent_change.py:38: NullCalculationWarning: Column "FREEREDUCED2" contains nulls. These will be excluded from PercentChange calculation.
/Users/utamidiahkusumawati/anaconda/lib/python3.6/site-packages/agate/computations/percent_change.py:41: NullCalculationWarning: Column "FREEREDUCED" contains nulls. These will be excluded from PercentChange calculation.

**I TRIED TO ELIMINATE THE NULL ROW BUT IT STILL APPEARED LIKE THIS. WHAT CODE THAT I SHOULD USE TO ELIMINATE NULL CALCULATIONS?**

In [76]:
change.print_table()

| FY        | COUNTY  | CODISTSCH | SCHOOLNAME           | SCHOOLTYPE           | GRADE      | ... |
| --------- | ------- | --------- | -------------------- | -------------------- | ---------- | --- |
| 2016-2017 | BUFFALO | 100002001 | GIBBON HIGH SCHOOL   | SECONDARY        ... | 2017-07-12 | ... |
| 2016-2017 | BUFFALO | 100002002 | GIBBON ELEMENTARY... | ELEMENTARY       ... | PK-06      | ... |
| 2016-2017 | BUFFALO | 100007001 | KEARNEY HIGH SCHOOL  | HIGH SCHOOL      ... | 2017-09-12 | ... |
| 2016-2017 | BUFFALO | 100007002 | HORIZON MIDDLE SC... | MIDDLE SCHOOL    ... | 2017-06-08 | ... |
| 2016-2017 | BUFFALO | 100007003 | BRYANT ELEMENTARY... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007004 | EMERSON ELEMENTAR... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007005 | KENWOOD ELEMENTAR... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007006 | NORTHEAST ELEMENT... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007007 | PARK ELEMENTARY S... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007008 | CENTRAL ELEMENTAR... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007010 | WINDY HILLS ELEME... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007013 | GLENWOOD ELEMENTA... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007014 | MEADOWLARK ELEMEN... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100007015 | SUNRISE MIDDLE SC... | MIDDLE SCHOOL    ... | 2017-06-08 | ... |
| 2016-2017 | BUFFALO | 100007027 | KEARNEY EDUCATION... | PREK ONLY        ... | PK-PK      | ... |
| 2016-2017 | BUFFALO | 100007028 | BUFFALO HILLS ELE... | ELEMENTARY       ... | K -05      | ... |
| 2016-2017 | BUFFALO | 100009001 | ELM CREEK HIGH SC... | SECONDARY        ... | 2017-07-12 | ... |
| 2016-2017 | BUFFALO | 100009002 | ELM CREEK ELEMENT... | ELEMENTARY       ... | PK-06      | ... |
| 2016-2017 | BUFFALO | 100019001 | SHELTON HIGH SCHOOL  | SECONDARY        ... | 2017-07-12 | ... |
| 2016-2017 | BUFFALO | 100019002 | SHELTON ELEMENTAR... | ELEMENTARY       ... | PK-06      | ... |
| ...       | ...     | ...       | ...                  | ...                  | ...        | ... |

In [77]:
for_printing = change.select(['COUNTY', 'SCHOOLNAME', 'FRD_change'])

**YOU DONT WANT ALL COLUMNS APPEAR BECAUSE YOU NEED IN THE END ONLY FREE REDUCED LUNCH PCT CHANGE**

In [78]:
for_printing.order_by('FRD_change', reverse=True).print_table()

| COUNTY  | SCHOOLNAME           | FRD_change |
| ------- | -------------------- | ---------- |
| BUFFALO | GLENWOOD ELEMENTA... |            |
| BUFFALO | KEARNEY WEST HIGH... |            |
| BUFFALO | KEARNEY CATHOLIC ... |            |
| BUFFALO | FAITH CHRISTIAN E... |            |
| CEDAR   | WEST CATHOLIC ELE... |            |
| CEDAR   | EAST CATHOLIC ELE... |            |
| CHERRY  | KENNEDY SCHOOL       |            |
| CHERRY  | WOOD LAKE SCHOOL     |            |
| CHERRY  | GOOSE CREEK SCHOOL   |            |
| CHERRY  | CUTCOMB LAKE SCHOOL  |            |
| CHERRY  | ZION LUTHERAN ELE... |            |
| CLAY    | SUTTON CHRISTIAN ... |            |
| COLFAX  | HOWELLS-DODGE ELE... |            |
| COLFAX  | ST JOHN NEUMANN E... |            |
| COLFAX  | HOWELLS COMMUNITY... |            |
| CUMING  | BEEMER ELEMENTARY... |            |
| CUMING  | WEST POINT CENTRA... |            |
| CUMING  | GUARDIAN ANGELS E... |            |
| CUSTER  | SANDHILLS EDUC SE... |            |
| DAWES   | PINE RIDGE JOB CORPS |            |
| ...     | ...                  |        ... |

REVERSE IT TO GET THE BIGGEST TO SMALLEST INCREASE OF PCT CHANGE

**TOP FIVE LARGEST INCREASE OF FREE REDUCED LUNCH: GLENWOOD ELEMENTARY SCHOOL (BUFFALO COUNTY), KEARNEY WEST HIGH SCHOOL (BUFFALO COUNTY), KEARNEY CATHOLIC (BUFFALO COUNTY), FAITH CHRISTIAN ELEMENTARY SCHOOL (BUFFALO COUNTY), AND WEST CATHOLIC ELEMENTARY SCHOOL (CEDAR COUNTY)**